* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#start {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1001;
    background-color: white;
}

#title {
    font-family: "Press Start 2P";
    font-size: 75px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#tostart {
    font-family: "Press Start 2P";
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translateX(-50%);
}

#bear {
    width: 200px;
    height: 150px;
    position: fixed;
    top: 40vh;
    left: 40vw;
    z-index: 100;
}

.tube {
    width: 100px;
    height: 400px;
    background-color: green;
    position: absolute;
}

#tubeneg1,
#tubeneg2,
#tubeneg3,
#tubeneg4 {
    bottom: 0;
    height: 300;
}
