* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#bear {
    width: 200px;
    height: 150px;
    position: fixed;
    top: 40vh;
    left: 40vw;
    z-index: 100;
}

.tube {
    width: 100px;
    height: 400px;
    background-color: green;
    position: absolute;
}

#tubeneg1, #tubeneg2, #tubeneg3, #tubeneg4 {
    bottom: 0;
    height: 300;
}
