* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

#bear {
    width: 200px;
    height: 150px;
    position: fixed;
    top: 40vh;
    left: 40vw;
    z-index: 100;
}

#TITLE {
    font-family: 'Press Start 2P';
    font-size: 75px;
    
}